<div class="jumbotron">
    <h1 class="display-4">Bem vindo ao Classgeek!</h1>
    <p class="lead">Este é um sistema desenvolvido em Ruby on Rails para gerenciar turmas</p>
    <hr class="my-4">
    <p>  </p>
    <p class="lead">
        <a href="/users/sign_up">
            <button type="button" class="btn btn-primary">Cadastrar</button>
        </a>
    </p>
</div>